/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


@tailwind utilities;

textarea, select, input, button { outline: none; }



.banner-home {
    background-image: linear-gradient(to bottom,rgba(69,164,236,.15),transparent);
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8795a1 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  letter-spacing: 2px;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
  color: #8795a1 !important;
  font-weight: 500 !important;
   text-transform: uppercase;
  font-size: 20px !important;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: #8795a1 !important;
  font-weight: 500 !important;
   text-transform: uppercase !important;
  font-size: 20px !important;
}
.search-input:-moz-placeholder { /* Firefox 18- */
  color: #8795a1 !important;
  font-weight: 500 !important;
   text-transform: uppercase !important;
  font-size: 20px !important;
}


.markdown-body p {
   @apply text-lg;
}

.markdown-body h3{

   @apply text-2xl border border-black pb-3;
   border-top: none;
   border-left: none;
   border-right: none;
}

.table-of-contents {
  @apply shadow p-4 bg-grey-lighter pr-8 max-w-xs my-8;
}

.table-of-contents ul {
  @apply list-reset;
}

.table-of-contents ul li a{
  @apply text-grey-darkest no-underline text-grey-darker text-lg;
}

.table-of-contents ul li a:hover {
  @apply text-brand;
}

.table-of-contents .heading {
  @apply text-black text-xl font-semibold;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: none;
}


.panel {
  @apply shadow bg-grey-lightest p-3;
}

.example .panel.solution {
  @apply shadow-none bg-white mt-2;
}

.markdown-body img {
  @apply mt-2;
}
